{% extends "frames/base_portal.html" %}
{% load static %}
{% load i18n %}
{% block header %}
	{% with headerclass='portal' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}


{% block content %}
<!-- Home -->
<div id="home" class="hero-area">

			<!-- Backgound -->
			<div style="background-color: white;"></div>
			<!-- /Backgound -->


				<div class="container">
					<div class="row">
					<div class="section text-center">
						{% if user.is_authenticated %}
							<h2>{{ title }}</h2>
							<p class="lead">{{ lead }}</p>
							<div class="row">
                                <div id="er">
                                        <span id="sp"></span>
                                </div>
								  <form action="{{ request.path }}" {% if fileUpload %}enctype="multipart/form-data"{% endif %} method="post" class="registerform">
                                    {% csrf_token %}
                                    {% if selectCompany %}
                                        <p>
                                          <label for="selectcomp">{% trans 'Company' %}</label>
                                            <select id="selectcomp" name="companyselect">
                                                <option value="shelby">Shelby</option>
                                                <option value="tuscany">Tuscany</option>
                                            </select>
                                        </p>
                                    {% endif %}

                                    {% if extra %}{% autoescape off %}{{ extra }}{% endautoescape %}{% endif %}

                                      {{ form.as_p }}

                                      {% if fileUpload %}
                                        <label class="custom-file-upload">
                                            <i class="fas fa-upload"></i>{% trans 'Choose Image' %}
                                        </label>
                                        <script>
                                            var getID = $('input[type=file]').attr('id');
                                            $('label').attr('for', getID);
                                        </script>
                                      {% endif %}

                                      <button id="uploadbutton"  class="main-button icon-button form-button" type="submit">{% trans 'Submit' %}</button>
                                  </form>
                            <div id="suc">

                            </div>
							</div>
{#						{% endif %}#}
                    {% endif %}
					</div>
				</div>
				</div>

		</div>
        <script>
            $(document).ready(function() {
              $('#summernote').summernote();
            });
        </script>

		<!-- /Home -->
{% endblock %}
