{% extends "frames/base_portal.html" %}
{% load static %}
{% load i18n %}
{% block header %}
	{% with headerclass='portal' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}
{% block content %}
<!-- Home -->
<div id="home" class="hero-area" style="padding-top: 80px;">

			<!-- Backgound -->
			<div style="background-color: white;"></div>
			<!-- /Backgound -->

				<div class="container">
					<div class="row">
					<div class="section text-center">
						{% if user.is_authenticated %}
							<h3>{% trans 'Welcome to the Dealer Portal' %} <h1>{{ user.get_full_name }}</h1></h3>
							<p class="lead">{% if user.is_staff %}{% trans 'In this portal you can check and modify orders and website entities.' %}{% else %}{% trans 'In this portal you can place and access your orders.' %}{% endif %}</p>
							<div class="row">
							</div>
						{% else %}
							<h2>{% trans 'Dealer Login' %}</h2>
							<p class="lead">{% trans 'Fill in your credentials to login' %}</p>
							<div class="row">
								<form method="POST" class="dealerloginform" action="./?next=/portal/">
									{% csrf_token %}
									{{form.as_p}}
									<button class="main-button icon-button form-button" type="submit">{% trans 'Login' %}</button>
								</form>
							</div>
						{% endif %} 
					</div>
				</div>
			</div>

		</div>
		<!-- /Home -->
{% endblock %}
{% block post %}
{% endblock %}