{% extends "frames/base_portal.html" %}
{% load static %}
{% load i18n %}
{% block header %}
	{% with headerclass='portal' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}


{% block content %}
<!-- Home -->
<div id="home" class="hero-area">

			<!-- Backgound -->
			<div style="background-color: white;"></div>
			<!-- /Backgound -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
					<div class="section-intro text-center">
						{% if user.is_authenticated %}
							<h2>Order Form</h2>
							<p class="lead">Your order has been successfully placed.</p>
							<div class="row">
								{{ form.errors }}
								{{ form.non_field_errors }}
								<p>Model: {{ model }}</p>
								<p>Color: {{ color }}</p>
							</div>
							<div class="row">
								<a class="main-button icon-button" href="/portal">Back to portal</a>
							</div>
						{% endif %} 
					</div>
				</div>
				</div>
			</div>

		</div>
		<!-- /Home -->
{% endblock %}