{% extends "frames/base_portal.html" %}
{% load static %}

{% block header %}
	{% with headerclass='portal' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}


{% block content %}
<!-- Home -->
<div id="home" class="hero-area">

			<!-- Backgound -->
			<div style="background-color: white;"></div>
			<!-- /Backgound -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
					<div class="section-intro text-center">
						{% if user.is_authenticated %}
                            {% if user.is_staff %}
							<h2>Add Vehicle</h2>
							<p class="lead">Here you can add vehicles to the database, to be displayed on the website.</p>
							<div class="row">
								  <form method="post" enctype="multipart/form-data" class="registerform">
                                    {% csrf_token %}
                                      {{ form.as_p }}
                                       <label class="custom-file-upload" for="id_image">
                                        <i class="fas fa-upload"></i>Choose Image
                                    </label>
                                      <button id="uploadbutton"  class="main-button icon-button form-button" type="submit">Upload</button>
                                  </form>
							</div>
                            {% endif %}
						{% endif %}
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
					</div>
				</div>
				</div>
			</div>

		</div>
		<!-- /Home -->
{% endblock %}