
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

/* ---------------------------------------------
COPYRIGHT GU AUTO TRADE - Made by Selim Aydi
-----------------------------------------------*/

/*
Colors:
	Body 		: #798696
	Headers 	: #374050
	Primary 	: #FF6700
	Grey 		: #EBEBEB

Fonts: Lato & Montserrat

Table OF Contents
------------------------------------
1 > General
2 > Logo
3 > Navigation
4 > Hero Area
5 > About Us
6 > Footer
7 > Contact Page
8 > Responsive
9 > Preloader
------------------------------------*/

/*------------------------------------*\
	General
\*------------------------------------*/
/* --- typography --- */
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #798696;
	overflow-x:hidden;
	background-color: #fbfbfb;
}

@font-face {
    font-family: "Shelby";
    src: url(/static/fonts/Shelby.ttf) format("truetype");
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 2vh;
	margin-bottom: 2vh;
	font-weight: 700;
	color: #374050;
	transition: 0.2s;
}

h1 {
	font-size: 7vh;
}

h2 {
	font-size: 5vh;
}

h3 {
	font-size:24px;
}

h4 {
	font-size:18px;
}

a {
	font-family: 'Montserrat', 'sans-serif';
	color: #574b4b;
	font-weight: 500;
	cursor: pointer;
}

a:hover,
a:focus{
    text-decoration: none;
    outline: none;
    color: #374050;
}

ul,ol{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.white-text {
	color: #FFF;
	z-index: 4;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

blockquote {
	position: relative;
	margin: 20px 0px;
	padding: 20px 20px 20px 60px;
	border-left: none;
	color: #374050;
}

blockquote:before{
	content:"\f10d";
	font-family:fontAwesome;
	position:absolute;
	left:0;
	top:0;
	color: #374050;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
}


/* --- Section --- */
.section {
	position:relative;
	padding-top: 30px;
	padding-bottom:80px;
	background-color: #fbfbfb;
}

.section-hr {
	margin-top:80px;
	margin-bottom:80px;
	border-color: #EBEBEB;
}

.section-header {
	margin-bottom:40px;
}

.section-intro {
	background-color: #ffffff;
	padding-top: 2%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	border-radius: 5px;
	margin: 0 auto !important;
	float: initial !important;
}

.intro_section {
	opacity: 0;
}

#contact {
	padding-top: 160px;
 	min-height: calc(100vh);
}

#news {
	padding-top: 180px;
	min-height: calc(100vh);
}

#event {
	padding-top: 150px;
    min-height: calc(100vh);

}

#dealers {
	height: calc(100vh);
	margin-top: 0;
}

#expandable {
	padding-top: 250px;
}

/* --- Background Image --- */
.bg-image {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-position:center;
	background-size:cover;
}

.bg-image--hidden {
	display: none;
}

.bg-image.bg-parallax {
	background-attachment:fixed;
}

.bg-image.overlay:after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color: #374050;
	opacity: 0.8;
}

/* --- Buttons --- */

.form-button {
	width: 30% !important;
	margin-top: 10px;
	padding: 1vh !important;
}

.registerform .form-button {
	width: 65% !important;
	margin-top: 10px;
	padding: 1vh !important;
}

.main-button {
	position:relative;
	display:inline-block;
	padding: 10px;
	font-size: 15px;
	background-color: rgba(18, 18, 18, 0.3215686274509804);
	border: 2px solid transparent;
	border-radius: 5px;
	color: #FFF;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.main-button--lead, .main-button--form {
	background-color: #2196F3;
}

.main-button:hover , .main-button:focus {
	background-color: #38404F;
	border: 2px solid rgba(0, 0, 0, 0.06);
	color: white;
}

.main-button.icon-button:hover , .main-button.icon-button:focus {
	padding-right: 45px;
}

.main-button.icon-button:after {
	content: "\f054";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position:absolute;
	width: 30px;
	right: 15px;
	text-align:center;
	opacity:0;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.main-button.icon-button:hover:after , .main-button.icon-button:focus:after {
	opacity:1;
}

/* --  Input  -- */
input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="url"], input[type="tel"], textarea {
    height: 40px;
    width: 100%;
    border: 1px solid #EBEBEB;
	border-radius:4px;
	background: transparent;
    padding-left: 15px;
	padding-right: 15px;
	-webkit-transition:0.2s border-color;
	transition:0.2s border-color;
}

textarea {
    padding: 10px 15px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="url"]:focus, input[type="tel"]:focus, textarea:focus {border-color: #2196F3;}

/*------------------------------------*\
	Logo
\*------------------------------------*/
.navbar-brand {
    padding: 0;
}

.navbar-brand .logo {
	display: inline-block;
	padding: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #1212121f;
}

.logo > svg{
	width: 120px;
	height: 120px;
}

.footer-logo .logo > svg{
	width: 100px;
	height: 100px;
}

.footer-logo svg > g{
	fill: #c1c1c1 !important;
}

.logo svg > g{
	fill: #e8e8e8;
}

.navbar-brand .bluelogo {
	display: inline-block;
	padding: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #2e3540;
}

.bluelogo > svg{
	width: 100px;
	height: 100px;
}

.bluelogo svg > g{
	fill: #e8e8e8;
}

.footer-logo .logo svg > g{
	fill: #00000021;
}

.navbar-brand .logo > img {
	max-height: 50px;
	opacity: 0.4;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
}

@media only screen and (max-width: 767px) {
	.navbar-brand {
		margin-left:15px;
	}
}

/*------------------------------------*\
	Navigation
\*------------------------------------*/
#header {
	position:relative;
	left:0;
	right:0;
	top:0;
	z-index:99;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

#header.desc {
	position:absolute;
	background-color: #f1f1f1;
	border-bottom: solid 0.1vh #00000026;
}

#header.portal {
	position:absolute;
	background-color: #374050;
	border-bottom: solid 0.1vh #00000026;
	border-top: solid 0px #556276;
	border-bottom: solid 15px white;
	border-left: solid 30px #2e3540;
}

#header.dealer {
	position:absolute;
	background-color: rgba(55, 64, 80, 0.8117647058823529);
}

.noborder {
	border-bottom:0 !important;
}

.portal i{
	padding-left: 9px;
	padding-right: 3px;
}

.portal .navbar-right li a:hover{
	color:	#41bff8 !important;
}

#header.portal li a:after{
	background-color: #ffffff00;;
}

.portal .navbar-right a, .portal .navbar-left li a{
	color: #ffffff !important;
	height: 100%;
}

.portal .navbar-left li a{
	color:	#ffffff !important;
	font-size: 13px;
	color: #bdbdbd !important;
}

.portal .navbar-left i{
	padding-right: 9px;
}

.portal .navbar-left li a:hover{
	color: #bdbdbd !important;
}


#header.transparent-nav {
	position:absolute;
	background-color: transparent;
	height: 9vh;
}

#header .main-menu li a {
	color: #ffffff;
	font-family: 'Montserrat', 'sans-serif';
	font-weight: 800;
	font-size: 16px;
}

.main-menu li a {
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.main-menu li a:hover , .main-menu li a:focus {
	background-color:transparent;
	color: #99d0ff !important;
}

.main-menu li a:after {
	content:"";
	display:block;
	height:2px;
	background-color: #4c4c4c00;
	width:100%;
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	transform: translateY(5px);
	opacity:0;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.main-menu li a:hover:after , .main-menu li a:focus:after {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	opacity:1;
}

/* -- Mobile Nav -- */

@media only screen and (max-width: 990px) {
	#nav {
		position: fixed;
		top: 0;
		right: 0;
		width: 0%;
		max-width: 300px;
		height: 100vh;
		background: #FFF;
		-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
		padding-top: 40px;
		padding-bottom: 40px;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: 0.4s all cubic-bezier(.77,0,.18,1);
		transition: 0.4s all cubic-bezier(.77,0,.18,1);
		z-index:9;
	}

	#header.nav-collapse #nav{
		height:100%;
		width:40%;
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}

	select {
		width: 80%;
	}

	.main-menu {
		margin:0;
	}

	.main-menu li {
		text-align: center;
		height: 9vh;
		width: 100%;
		padding-top: 30px;
	}

	.main-menu li a {
		color: #374050 !important;
		display: inline-block;
	}

	#nav ul li a {
		color: #374050 !important;
	}

	.nav>li>a {
		padding: 10px 8px !important;
		font-size: 11px !important;
	}
}

/* -- Mobile Toggle Btn -- */
.navbar-toggle {
	position:fixed;
	right: 2.3%;
	padding: 0;
	top: 8px;
	height: 40px;
	width: 40px;
	margin-top: 5px;
	z-index:99;
}

.navbar-toggle > span {
	position: absolute;
	top: 50%;
	left: 50%;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
	-webkit-transition: 0.2s background;
	transition: 0.2s background;
}

.navbar-toggle > span:before, .navbar-toggle > span:after {
	content: '';
	position:absolute;
	left:0;
	-webkit-transition: 0.2s -webkit-transform;
	transition: 0.2s -webkit-transform;
	transition: 0.2s transform;
	transition: 0.2s transform, 0.2s -webkit-transform;
}

.navbar-toggle > span , .navbar-toggle > span:before , .navbar-toggle > span:after {
	height: 2px;
	width: 25px;
	background-color: #4d96d6;
}

.navbar-toggle > span:before {

	top: -10px;
}

.navbar-toggle > span:after {
	top: 10px;
}

#header.nav-collapse .navbar-toggle > span {
	background: transparent;
}

#header.nav-collapse .navbar-toggle > span:before {
    -webkit-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
}

#header.nav-collapse .navbar-toggle > span:after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
}

/*------------------------------------*\
	Hero Area
\*------------------------------------*/
.hero-area {
	position:relative;
	padding-top: 80px;
	padding-bottom: 80px;
}

#home.hero-area {
	height: calc(100vh);
	padding-top: 0px;
	padding-bottom: 0px;
}

.home-wrapper {
	position:absolute;
	top: 50%;
	z-index: 4;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	left:0;
	right:0;
}

/* -- Breadcrumb -- */
.hero-area-tree li {
	display:inline-block;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	font-size:14px;
	color:rgba(255, 255, 255, 0.8);
}

.hero-area-tree li > a {
	color:rgba(255, 255, 255, 0.8);
}

.hero-area-tree li + li:before {
	content: "/";
	display: inline-block;
	margin: 0px 5px;
	color: rgba(235, 235, 235, 0.25);
}

/*------------------------------------*\
	About & Why Us (Feature)
\*------------------------------------*/

#about {
	background-color: #f2f2f2;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* -- Feature -- */
.feature {
	position:relative;
}

.feature + .feature  {
	margin-top:40px;
}

.feature .feature-icon {
	position:absolute;
	left:0;
	top:0;
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	border-radius: 10%;
	font-size:30px;
	color: #3f4150;
}

.feature-content {
	padding-left:100px;
}

.img-fluid {
	width: 100%;
	max-height: 250px;
}

/* -- About Img -- */
.about-img {
	margin-top:40px;
}

.about-img > img {
	width:100%;
	opacity: 0.7;
}

/* -- About Video -- */
.about-video {
	position: relative;
	display: block;
	border-radius: 4px;
	overflow: hidden;
}

iframe {
	box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.47);
}

.about-video > img {
	width:100%;
}

.about-video .play-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	transform: translate(-50% , -50%);
	width: 80px;
	height: 80px;
	line-height: 80px;
	color: #23414f;
	text-align: center;
	background: #fff;
	border-radius: 50%;
	font-size: 24.027px;
	z-index:10;
	-webkit-animation : 2s play-animation infinite;
	animation : 2s play-animation infinite;
	-webkit-transition:0.2s color;
	transition:0.2s color;
}

.about-video:hover .play-icon {
	color:#2196F3;
}

@-webkit-keyframes play-animation {
	from {
		-webkit-box-shadow : 0px 0px 0px 0px #FFF;
		        box-shadow : 0px 0px 0px 0px #FFF;
	}
	to {
		-webkit-box-shadow : 0px 0px 0px 10px transparent;
		        box-shadow : 0px 0px 0px 10px transparent;
	}
}

@keyframes play-animation {
	from {
		-webkit-box-shadow : 0px 0px 0px 0px #FFF;
		        box-shadow : 0px 0px 0px 0px #FFF;
	}
	to {
		-webkit-box-shadow : 0px 0px 0px 10px transparent;
		        box-shadow : 0px 0px 0px 10px transparent;
	}
}

.about-video:after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	opacity:0.7;
}

/*------------------------------------*\
	Vehicles
\*------------------------------------*/

#vehicles {
	background-color: #fbfbfb;
}

.vehicle {
	margin-top:20px;
	margin-bottom:20px;
}

.vehicle a > svg {
	height: 100px;
	width: 100px;
}

.vehicle a > svg > g{
	fill: #00444c;
}

.shelbylogo a > svg > g path:nth-child(1){
	fill: #d6d6d6;
}

.shelbylogo a > svg > g path:nth-child(2){
	fill: #eaeaea;
}

.vehicle .vehicle-img {
	position: relative;
	display:block;
	margin-bottom:20px;
	overflow:hidden;
	box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 2px 2px rgba(0,0,0,0.23);
}

.col-md-5 .vehicle .vehicle-img > img {
	width: 100%;
	height: auto;
}

.col-md-12 .vehicle .vehicle-img > img {
	width: 100%;
	height: 660px;
}


.vehicle .vehicle-img > img {
	width: 100%;
	height: auto;
	transition: all 0.7s ease;
}

.vehicle .vehicle-img > img:hover {
	transform: scale(1.2);
	transition: all 0.7s ease;
}


.vehicle .vehicle-title {
	display:block;
	height:42px;
	font-weight: 400;
}

.vehicle .vehicle-details {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #EBEBEB;
}

.vehicle .vehicle-details .vehicle-price {
	float: right;
}

.vehicle .vehicle-details .vehicle-price.vehicle-free {
	color: green;
}

.vehicle .vehicle-details .vehicle-price.vehicle-free:hover {
	color: #2196F3;
}

.vehicle .vehicle-details .vehicle-price.vehicle-premium {
	color: #FF6700;
}
#courses .center-btn {
	text-align:center;
	margin-top:40px;
}

/*------------------------------------*\
	Footer
\*------------------------------------*/

#bottom-footer {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #6969692b;
}

/* -- Footer Logo -- */
.footer-logo  .logo {
	margin-top: 20px;
	display: inline-block;
}

.footer-logo  .logo > img {
	max-height: 80px;
	opacity: 1;
}

/* -- Footer Nav -- */
.footer-nav {
	text-align: right;
	padding: 40px 0px;
}

.footer-nav li {
	display:inline-block;
	margin-left:15px
}

.footer-nav li a {
	display:block;
	-webkit-transition:0.2s color;
	transition:0.2s color;
}

.footer-nav li a:hover , .footer-nav li a:focus {
	color: #000000;
}

.footer-nav li a:after {
	content:"";
	display:block;
	height:2px;
	background-color: #00000000;
	width:100%;
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	transform: translateY(5px);
	opacity:0;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.footer-nav li a:hover:after , .footer-nav li a:focus:after {
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
	opacity:1;
}

/* -- Footer copyright -- */
.footer-copyright {
	line-height:40px;
	font-weight: 800;
}

/* -- Footer Social -- */
.footer-social {
	text-align:right;
}

.footer-social li {
	display:inline-block;
	margin-left:10px;
}

.footer-social li a {
	display:block;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	border-radius: 10%;
	color:#FFF;
	background-color:#EBEBEB;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.footer-social li a.facebook {
	background-color:#3b5998;
}

.footer-social li a.twitter {
	background-color:#55acee;
}

.footer-social li a.google-plus {
	background-color:#dd4b39;
}

.footer-social li a.instagram {
	background-color:#e95950;
}

.footer-social li a.youtube {
	background-color:#ff0000;
}

.footer-social li a.linkedin {
	background-color:#007bb5;
}

/*------------------------------------*\
	Contact Page
\*------------------------------------*/
/* -- Contact Form -- */
.contact-form:after {
	content:"";
	display:block;
	clear:both;
}

.contact-form .input {
	margin-bottom:20px;
}

.contact-form textarea.input {
	height:200px;
}

/* -- Contact Information -- */
.contact-details li  {
	margin-bottom:20px;
}

.contact-details li i {
	color: #63605f;
	margin-right: 15px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

/* -- Contact Map -- */
#contact-map {
	height:260px;
	border-radius:4px;
}

/*------------------------------------*\
	Responsive
\*------------------------------------*/
@media only screen and (min-width: 1200px) {
	.nav>li>a {
		padding: 10px 15px !important;
		font-size: 16px !important;
	}
}

@media only screen and (max-width: 1200px) {
	.nav>li>a {
		padding: 10px 9px !important;
		font-size: 15px !important;
	}
}

@media only screen and (max-width: 991px) {
	.section-header h2 {
		font-size:24px;
	}

	/*-- Why us --*/
	#why-us .feature {
		margin-top:40px;
	}

	.about-video {
		width: 560px;
		margin: auto;
		margin-top: 40px;
	}

	/*-- Call to action --*/
	#cta {
		text-align:center;
	}

	/*-- Footer --*/
	.footer-logo {
		text-align:center;
	}

	.footer-nav {
		text-align:center;
	}
	.footer-nav li {
		margin-top: 10px;
	}

	.footer-social {
		text-align:center;
	}
	.footer-social li {
		margin-top: 10px;
	}

	.footer-copyright {
		text-align:center;
		line-height:inherit;
		margin-top:20px;
	}

	/*-- Contact page --*/
	.contact-form  {
		margin-bottom:40px;
	}

	.contact-form button {
		float:none !important;
	}

	/*-- Blog page --*/
	#main {
		margin-bottom:80px;
	}

	.mobile-text-wrapper {
		display: block !important;
	}

	.greyrow, .darkrow {
		display: block !important;
	}

	.greyblock, .darkblock {
		display: block;
	}

	#accordion .panel-title a {
		text-align: left;
	}

	.nav>li>a {
		padding: 10px 8px !important;
		font-size: 11px !important;
	}
}

@media only screen and (max-width: 767px) {
	/*-- Hero area --*/
	.hero-area h1 {
		font-size: 7vh;
	}

	/* -- Breadcrumb -- */
	.hero-area-tree li {
		font-size:12px;
	}

	/*-- Pagination --*/
	.post-pagination .pages {
		display:none;
	}
}

/*------------------------------------*\
	Preloader
\*------------------------------------*/
#preloader {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color: #ffffffeb;
	z-index:9999;
}

#preloader svg, .preloader {
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50% , -50%);
	    -ms-transform: translate(-50% , -50%);
	        transform: translate(-50% , -50%);
}

#preloader .preloader:after {
	content:"";
	display:block;
	width:40px;
	height:40px;
	border: 1px solid #EBEBEB;
    border-top: 1px solid #474341;
    border-radius: 50%;
	-webkit-animation: 1s preloader linear infinite;
	        animation: 1s preloader linear infinite;
}

@-webkit-keyframes preloader {
	from { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

@keyframes preloader {
	from { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

/*------------------------------------*\
	Forms
\*------------------------------------*/

.dealerloginform {
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}

.dealerloginform input[type=text], .dealerloginform input[type=password]{
	text-align: center;
	width: 50%;
	margin: 0 auto;
	outline: none !important;
	display: block;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: solid 0.1vh #37405040;
	border-radius: 0;
	color: #8ca6ac;
	font-weight: 800;
}

.dealerloginform input[type=text]::placeholder, input[type=password]::placeholder {
	color: #b9b9b9cf;
}

.dealerloginform input[type=text]:focus {
	border-color: #00000054;
}

.registerform select, .registerform input[type=number]{
	width: 65%;
	margin: 0 auto;
	outline: none !important;
	display: block;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #EBEBEB;
	border-radius: 0;
	color: #8ca6ac;
	font-weight: 800;
	text-align-last: center;
}

.registerform option{
	text-align: center;
	background-color: #374050;
	border: none;
}

.helptext {
	color: #4fafd0;
}

#suc {
	display: none;
	padding: 20px;
	border-radius: 3px;
	width: 80%;
	margin: 0 auto;
}

.success {
	display: block !important;
	background-color: #daf5da;
	padding: 20px;
	color: #7fa07f;
	border-radius: 3px;
	width: 80%;
	margin: 0 auto;
}

.success--dark {
	background-color: rgba(0, 0, 0, 0.15);
	width: 100% !important;
	color: #a0cfa0;
}

.success::before{
	padding: 5px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f00c';
}

#er {
	border-radius: 3px;
	margin: 0 auto;
	display: none;
	min-width: 140px;
	color: #ef5a5a;
	background-color: rgba(248, 212, 212, 0.28);
	margin-bottom: 20px;
}

.err {
	padding: 10px;
	display: block !important;
}

.error{
	border-radius: 3px;
	padding: 12px;
}

.error::before{
	padding: 7px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f071';
}

.registerform {
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}

.registerform input[type=text], .registerform input[type=password], .registerform input[type=email], .registerform input[type=url]{
	text-align: center;
	width: 65%;
	margin: 0 auto;
	outline: none !important;
	display: block;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #EBEBEB;
	border-radius: 0;
	color: #48b17c;
	font-weight: 800;
}

.registerform textarea {
	padding-bottom: 100px;
	padding-left:10px;
	padding-top:10px;
	width: 65% !important;
	min-height: 200px;
	margin: 0 auto !important;
	outline: none !important;
	display: block;
}

input[type=text]::placeholder, textarea::placeholder, input[type=url]::placeholder, input[type=password]::placeholder, input[type=email]::placeholder {
	color: #dadada;
}

.registerform input[type=text]:focus {
	border-color: #00000054;
}

/*------------------------------------*\
	Slideshow
\*------------------------------------*/

#slideshow {
  margin: 0;
  position: relative;
  height: 100%;
}

#slideshow > div {
  position: absolute;
}

/*------------------------------------*\
	Errors
\*------------------------------------*/

.errorlist {
	font-size: 13px;
	display: inline;
	background-color: rgba(228, 100, 100, 0.13);
	padding: 2px;
	color: #fff3f3;
	border-radius: 3px;
	border: dashed 1px rgb(199, 175, 175);
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.errorlist > li{
	display: inline;
	color: #f36c6c;
}

.errorlist > li:before {
	font-size: 12px;
	margin-right: 5px;
	content: "\f06a";
	font-family: FontAwesome;
	display: inline;
}

/*==================================================================
[ Table ]*/

table {
  width: 100%;
  table-layout: fixed;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.clm {
  width: 1.4%;
}

.rw.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.rw td {
  padding-top: 18px;
  padding-bottom: 14px;
  transition: 0.5s;
  text-align: center;
}

.tb tbody tr {
  border-bottom: 1px solid #e5e5e5;
}

.tbtd {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.tb {
	font-size: 2vh;
	margin: 0 auto;
	width: 95%;
}

.tb input[type=text]{
	text-align: center;
	color: #2196F3;
	display: block;
	margin: 0 auto;
	background-color: white;
	font-weight:800;
	width: 90%;
}

.tb th {
  color: #fff;
  line-height: 1.4;
  background-color: #374050;
  text-align: center;
}

.tb .hov-column-ver3 {
  transition: 0.5s;
}

.tb .hov-column-head-ver3 {
  background-color: #7b88e3 !important;
}

.tb .rw td:hover {
  background-color: #92d0ea;
  color: #fff;
  transition: 0.3s;
}

input[type=checkbox] {
	height: 30px;
	width: 20px;
}

.registeradmincheckbox {
	vertical-align: bottom;
}

/*==================================================================
[ Footer ]*/

#footer {
	color: #374050 !important;
}

#footer li a{
	color: #374050 !important;
	cursor: pointer;
}

#footer li a:hover{
	color: #448bc8 !important;
}

#footer i{
	color: white;
}

/*==================================================================
[ File upload ]*/

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    display: block;
    width: 150px;
    margin: auto;
    padding: 10px;
    margin-top: -25px;
    margin-bottom: 10px;
}

.custom-file-upload i{
	padding-right: 10px;
}

#formposted {
	padding: 10px;
}

.invis {
	visibility: hidden;
}

/*==================================================================
[ Drop down menu ]*/

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    height: 100%;
    display: block;
}

.dropdown {
    padding: 12px;
    padding-top: 13.7px;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #374050;
    min-width: 120px;
    z-index: 1;
    border-bottom-left-radius: 3px;
    border-left: solid 0.1vh #00000026;
    border-right: solid 0.1vh #00000026;
    border-bottom: solid 0.1vh #00000026;
    border-bottom-right-radius: 3px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/*==================================================================
[ Modal (semi-popup) ]*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if neede360px*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

#modaltext {
	overflow-y: auto;
	max-height: 400px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    margin-left: 10px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*==================================================================
[ Map (semi-popup) ]*/

#mapid {
	height: calc(100vh);
	z-index: 10;
}

.mapboxborder {
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #303c4a;
    border-bottom: solid 2px #2d3846;
}

.mapboxborder p{
    text-align: center;
    padding: 15px;
    color:white;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.mapboxborder i {
	padding-right: 4px;
}

.mapbox .nav-sidebar {
	padding: 5px 5px 15px;
	max-height: 300px;
	overflow-y: auto;
}

.nav-sidebar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-bottom-right-radius: 5px;
}

.nav-sidebar::-webkit-scrollbar
{
	width: 12px;
}

.nav-sidebar::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #25343a;
}

.mapbox {
	position: absolute;
	max-width: 250px;
	background-color: #374050e6;
	z-index: 15;
	top: 30%;
	left: 2%;
	margin: auto;
	border-radius: 5px;
	padding: 0px;
}

.mapbox i{
	margin-right: 5px;
}

.mapbox .nav {
	padding: 0px 10px;
}

.mapbox .nav>li>a:hover{
	background-color: #4e586a;
	transition: all 0.2s ease;
	border-radius: 2px;
}

.mapbox .nav>li>a {
	font-weight: 500;
	color: white;
	margin: 0 auto;
	background-color: transparent;
	font-size: 17px;
	margin: 2px;
}

.mapbox li>a {
	color: #71b7f3;
	font-weight: 500;
}

.under a {
	padding: 0px 25px;
}

.under2:hover {
	color: #7bf0ff;
	transition: all 0.2s ease;
}

.under2 {
	cursor: pointer;
	white-space: nowrap;
	width: 160px;
	color: #d7dde0;
	text-overflow: ellipsis;
	overflow:hidden;
	font-weight: 500;
	font-family: 'Montserrat';
}

.under2:before{
	content: '\f054';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	text-decoration: none !important;
	color: #eaeaea36;
	padding-right: 5px;
	display: inline-block;
}


/*==================================================================
[ EventCalendar (semi-popup) ]*/

#caleandar{
    margin: 0 auto;
    width: 660px;
}

#cal{
	width: 400px;
	margin: 0 auto;
	margin-top:50px;
	padding: 30px;
	border-radius: 5px;
}

#cal p{
	color: #a7b8bf;
	font-size: 13px;
}

#cal a{
	color: #41a1ec;
	font-size: 13px;
	text-decoration: underline;
}

#cal .title{
	color: #ffffff;
	font-size: 21px;
	font-weight: 800;
}

#navlang {
	margin-top: 8px;
	padding: 5px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

@media (min-width: 768px){
	.navbar-right {
		float: initial !important;
		margin-right: initial;
	}
}

@media (min-width: 991px){
	.navbar-right {
	  float: right !important;
	  margin-right: -15px;
	}
}

@media (min-width: 768px){
	.navbar-toggle {
		display: initial !important;
	}
}

@media (min-width: 991px){
	.navbar-toggle {
		display: none !important;
	}
}

@media (min-width: 1200px){
	.about-video iframe {
		width: 460px !important;
	}
}

@media (max-width: 991px){
	.about-video iframe {
		width: 560px !important;
		height: 315px;
		margin: 0 auto;
	}
}

@media (max-width: 768px){
	.about-video iframe {
		display: none;
	}

	.navbar-toggle {
		position: absolute !important;
	}
}

@media (max-width: 580px){ 
	.alternative {
		background-color: #606673;
	}
	.section-intro-mobile {
		border-radius: 0px !important;
		margin-top: 135px !important;
	}
}

#preloader svg {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -60px;
  width: 150px;
  height: 150px;
  animation: zoomeffect 1s infinite;
}

#preloader g {
	fill: #08082b;
}

@keyframes zoomeffect {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.leaflet-popup .leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: #2e3540 !important;
	color: #fff;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.leaflet-container a {
	color: #5fd1ff !important;
}

.card-light {
    background: #667db6;  /* fallback for old browsers */
      /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7195ec, #27abf3, #46b4ef, #90a8e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-left: solid 2px #a9caff;
    border-right: solid 2px #a9caff;
    border-top: solid 3px #a9caff;
}

.card-container h3{
    color: white !important;
    font-family: 'Montserrat';
    font-weight: 600;
}

.card h3, h4 {
    color: #2e3540;
}

.card-dark {
    background: #667db6;  /* fallback for old browsers */
      /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #374050, #2e3542, #2d3137, #242931); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-right: solid 2px #fbfbfb;
    border-bottom: solid 2px #fbfbfb;
    border-top-left-radius: 5px;
}

.card ul{
	width: 100%;
	margin: 0 auto;
}

.card {
	height: 100%;
}

.card td{
	color: #f9f9f9;
	padding: 33px;
	font-weight: 600;
	font-family: Montserrat;
	border-top: solid 3px rgba(255, 255, 255, 0.06);
}

.card-dark h3 i{
	padding-right: 10px;
	color: #ffffff52;
}

.card-light h3 i{
	padding-right: 10px;
	color: #ffffffa3;
}

.card-light p{
	color: white;
}

.card table {
	background-color: initial;
	text-align: center;
}

.performance-card table {
	background-color: initial;
	text-align: center;
	margin-bottom: 50px;
	box-shadow: 0 22px 68px -9px rgba(0,0,0,.15);
}

.performance-card table td{
	padding:50px;
	font-size: 17px;
	color: #5e636b;
	background-color: white;
	font-weight: 900;
	border: solid 3px #f9f9f9;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.performance-card h1 {
	text-align: center;
	color: #ffffff;
	font-weight: 900;
	font-size: 25px;
	font-family: "Montserrat", "Arial";
}
.performance-card h1 i{
	padding-right: 25px;
	color: #ffffff;
}

.card tr:first-child > td{
	border: none;
}

.card-info {
	margin-top: 100px;
}

.performance-card-wrap {
	background: #16222A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e0e0e0, #385d70);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #363f4d, #2d333c, #353e4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-left: solid 2px #dadada;
	border-right: solid 2px #dadada;
	border-bottom: solid 3px #dadada;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


.performance-card-container {
	float: initial !important;
	padding: 0;
	margin: 0 auto;
	display: block;
}


.card-container {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}

@media (max-width: 468px){
	.card-container {
		height: 500px !important;
	}

	.vehicle-card .vehicle-card .vehicle-img img{
		height: 300px !important;
	}

	.card-light td{
		padding: 5px;
		font-size: 12px !important;
	}

	.quoteform {
		border-radius: 0px !important;
	}

	.contact-text {
		border-right: 0px !important;
		border-left: 70px solid #f1f1f1 !important;
	}

	.greyblock-text:before, .darkblock-text:before{
		content: '' !important;
	}
}

.light-card-container {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.light-card-container h3 {
	color: white !important;
	font-family: 'Montserrat';
	font-weight: 600;
}

.vehicle-card {
    margin: 0;
    padding: 0;
}

.vehicle-card .vehicle-card a{
    margin-bottom: 0;
}

.vehicle-card .vehicle-card .vehicle-img img{
	height: 390px;
	margin: 0;
}

.comingsoon a > svg > g {
	fill: #eaeaea;
}

.comingsoon span {
    color: #374050;
    font-weight: bold;
}

.description {
	z-index: 100;
}

.quoteform-wrapper {
	margin-top: 50px;
}

.quoteform input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="url"]:focus, input[type="tel"]:focus, textarea:focus {
	border-color: #2196F3;
	outline: none;
}

.quoteform {
	border-radius: 5px;
	padding: 20px;
	background-color: #374050;
	color: white;
	display: none;
}

.quoteform .input {
	border: none;
	border-bottom: solid 1px rgba(24, 28, 34, 0.27058823529411763);
	border-radius: 0px;
	margin-bottom: 20px;
}

.quoteform input::placeholder, textarea::placeholder {
	color: rgba(254, 254, 254, 0.23137254901960785);
}

.quoteform select {
	display: block;
	color: black;
	padding: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 200px;
}
		
.quoteform textarea {
	min-height: 100px;
	resize: vertical;
}

.flex {
	display: flex;
}

.flex--end {
	justify-content: flex-end;
}

.flex--center {
	justify-content: center;
}

.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transform: scale(1.0);
	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
.card-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background-size: cover;
	filter: blur(10px); /* blur the lowres image */
	transform: scale(1.1);
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.slideshow {
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden; }
  
  .slideshow-image {
	position: absolute;
	width: 100%;
	height: 100%;
	background: no-repeat 50% 50%;
	background-size: cover;
	animation-name: kenburns;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 32s;
	opacity: 1;
	transform: scale(1.1); }
	.slideshow-image:nth-child(1) {
	  animation-name: kenburns-1;
	  z-index: 3; }
	.slideshow-image:nth-child(2) {
	  animation-name: kenburns-2;
	  z-index: 2; }
	.slideshow-image:nth-child(3) {
	  animation-name: kenburns-3;
	  z-index: 1; }
	.slideshow-image:nth-child(4) {
	  animation-name: kenburns-4;
	  z-index: 0; }
  
  @keyframes kenburns-1 {
	0% {
	  opacity: 1;
	  transform: scale(1.1); }
	1.09375% {
	  opacity: 1; }
	23.90625% {
	  opacity: 1; }
	26.09375% {
	  opacity: 0;
	  transform: scale(1); }
	100% {
	  opacity: 0;
	  transform: scale(1.1); }
	98.90625% {
	  opacity: 0;
	  transform: scale(1.10419); }
	100% {
	  opacity: 1; } }
  
  @keyframes kenburns-2 {
	23.90625% {
	  opacity: 1;
	  transform: scale(1.1); }
	26.09375% {
	  opacity: 1; }
	48.90625% {
	  opacity: 1; }
	51.09375% {
	  opacity: 0;
	  transform: scale(1); }
	100% {
	  opacity: 0;
	  transform: scale(1.1); } }
  
  @keyframes kenburns-3 {
	48.90625% {
	  opacity: 1;
	  transform: scale(1.1); }
	51.09375% {
	  opacity: 1; }
	73.90625% {
	  opacity: 1; }
	76.09375% {
	  opacity: 0;
	  transform: scale(1); }
	100% {
	  opacity: 0;
	  transform: scale(1.1); } }
  
  @keyframes kenburns-4 {
	73.90625% {
	  opacity: 1;
	  transform: scale(1.1); }
	76.09375% {
	  opacity: 1; }
	98.90625% {
	  opacity: 1; }
	100% {
	  opacity: 0;
	  transform: scale(1); } }
  
  .overlay:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #374050;
	opacity: 0.6; }
  
.ebike {
	height: 100%;
	background-image: url(/static/img/ebike.jpeg);
	background-size: cover;
}

.ebike-cta-content {
	margin-top: 100px;
	height: 400px !important;
}

.ebike-text {
	height: 100%;
	background-color: #ececec;
	display: flex;
	align-items: center;
	border-top: 50px solid #fbfbfb;
	border-left: 70px solid #dedede;
	border-bottom: 50px solid #fbfbfb;
	color: #374050;
	font-family: 'Montserrat';
}

.ebike-text p {
	color: #bfbfbf;
}

.ebike-text .main-button{
	background-color: #4d545a;
}

.ebike-text .main-button:hover, .main-button:focus {
	color: white;
}

.ebike-text .main-button:after{
	color: #c7c7c7 !important;
}

.contact-text {
	background-color: #fbfbfb;
	border-left: 70px solid #dedede;
	border-top: 50px solid #fbfbfb;
	border-right: 70px solid #dedede;
	border-bottom: 50px solid #fbfbfb;
}

.contact-text p {
	color: #7d7d7d;
}

.mobile-text {
	background-color: #f1f1f1;
	padding:15px;
}

.mobile-text h2 {
	margin: 0;
}

.mobile-text-wrapper {
	display: none;
}

.greyblock, .darkblock {
    height: 100%;
	justify-content: center;
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
}

.ebikes-info {
    margin-top: 80px;
}

.ebikes-info h1{
	font-size: 35px;
}

.greyrow, .darkrow {
	overflow: hidden;
	font-weight: 400;
	line-height: 1.2;
	font-family: 'Montserrat';
	display: flex;
	align-items: center;
}

.greyrow {
	background-color: #ececec;
}

.darkrow {
	background-color: #292d33;
}

.bottomrow {
	background-color: #2196f3;
	color: white;
	font-weight: 500;
	line-height: 1.2;
	font-family: 'Montserrat';
	padding-top: 30px;
	padding-bottom: 50px;
}

.bottomrow .flex {
	align-items: center;
	text-align: center;
	justify-content: center;
}

.bottomrow h1 {
	color: white;
	font-weight: 600;
}

.greyblockimg img{
	object-fit: cover;
	height: auto;
	width: 100%;
}

.block-img {
    padding: 0px;
}

.darkblock-text h1{
    color: white;
}

.darkblock-text p{
    color: #909090;
}

.block-img img {
    object-fit: cover;
    width: 100%;
}

#accordion .panel{
    border: none;
    border-radius: 5px;
    box-shadow: none;
	margin-bottom: 15px;
	background-color: transparent;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
}
#accordion .panel-title a{
    display: block;
    padding: 12px 15px;
    background: #292d33;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
    transition: all 0.5s ease 0s;
    border: none;
}
#accordion .panel-title a.collapsed{
    box-shadow: none;
    color: #929292;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    width: 25px;
    height: 25px;
    line-height: 28px;
    font-size: 15px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 15px;
    transform: rotate(135deg);
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:before{
    color: #909090;
    transform: rotate(0);
}
#accordion .panel-title a:after{
    content: "";
    width: 3px;
    height: 100%;
    background: #3e434a;
    position: absolute;
    top: 0;
    right: 55px;
}
#accordion .panel-body{
    padding: 0px 15px;
    border: none;
    font-size: 15px;
    color: #ffffff;
    line-height: 27px;
    background-color: #292d33;
}

.panel-body p {
    color: #f1f1f1;
    padding: 10px;
}

.accordion-section {
    margin-top: 30px;
}

.greyblock-text:before, .darkblock-text:before {
	content: "\f0da";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	top: 20px;
	left: 62px;
	font-size: 40px;
	font-weight: 900;
}

.greyblock-text:before{
		color: #374050;
}

.darkblock-text:before {
	color: #ececeb;
}

.greyblock-text p {
    font-size: 16px;
    line-height: 2.3;
}

.bottomrow .greyblock-text:before {
	content: '';
}

.greyblock table {
    background-color: initial;
}

.greyblock th {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}

.greyblock td {
    font-weight: 300;
    height: 110px;
}

.greyblock tr {
    border-bottom: solid 3px #6ba6ff;
}

.greyblock tbody tr:last-child{
    border-bottom: none;
}

/*ebikes borderbox fix*/
@media (max-width:1234px){
	.panel-body p {
		color: #f1f1f1;
		padding: 0px;
	}
	#accordion .panel-body{
		padding: 0px 15px;
		border: none;
		font-size: 11px;
		color: #ffffff;
		line-height: 14px;
		background-color: #292d33;
	}
	
}
