{% extends "frames/tuscany/sub_base_tuscany.html" %}
{% load static %}
{% load i18n %}
{% block header %}
	{% with logoclass='bluelogo' headerclass='portal index' exists=exists %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}

{% block content %}
		<!-- Home -->
		<div id="home" class="hero-area">

			<!-- Backgound Image -->
{#			<div id="slideshow">#}
{#				<div class="bg-image overlay" style="background-image:url({% static 'img/slideshow/shelby1.jpg' %})"></div>#}
{#				<div class="bg-image overlay" style="background-image:url({% static 'img/slideshow/shelby2.jpg' %})"></div>#}
{#				<div class="bg-image overlay" style="background-image:url({% static 'img/slideshow/shelby3.jpg' %})"></div>#}
{#				<div class="bg-image overlay" style="background-image:url({% static 'img/slideshow/shelby4.jpg' %})"></div>#}
{#			</div>#}
			<!-- /Backgound Image -->

			<div class="home-wrapper">
                <div class="jumbotron-fluid">
                  <div class="container">
                    <h1 class="black-text">{% trans 'Tuscany Automotive' %}</h1>
                    <p class="lead">{% trans "Working with truck manufacturers and dealerships around the nation to provide the world's finest lifted trucks." %}</p>
                    <a class="main-button icon-button" href="#" onclick="$(window).scrollTo(document.getElementById('vehicles'), 1000);">{% trans "Check vehicles" %}</a>
                  </div>
                </div>
                {% include 'includes/tuscany_truck.svg' %}
			</div>

		</div>
		<!-- /Home -->

		<!-- About -->
		<div id="about" class="section">

			<!-- container -->
			<div class="container">

                <!-- row -->
				<div class="row">

					<div class="col-md-6">
						<h3>{% trans "About Tuscany" %}</h3>
						<p class="lead">{% trans 'Enjoy the drive' %}</p>
					    <p>{% trans 'That’s our goal for every one of our customers. What began in 1988 as a small idea has grown into a company recognized and respected throughout the industry. We have the same mission today as we did when we started: design fun, expressive vehicles that make people happy.' %}</p>
                    </div>

					<div class="col-md-5 col-md-offset-1">
						<a class="about-video" href="#">
							<img src="https://hips.hearstapps.com/amv-prod-cad-assets.s3.amazonaws.com/images/media/672264/2018-ford-mustang-shelby-gt350-gt350r-in-depth-model-review-car-and-driver-photo-694522-s-original.jpg" alt="">
							<i class="play-icon fa fa-play"></i>
						</a>
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- container -->
		</div>
		<!-- /About -->

    {% if exists %}
		<!-- Vehicles -->
		<div id="vehicles" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
					<div class="section-header text-center">
						<h2>{% trans "Vehicles" %}</h2>
						<p class="lead">{% trans "Checkout our vehicles" %}</p>
					</div>
				</div>
				<!-- /row -->
				<!-- vehicles -->
				<div id="vehicles-wrapper">

					<!-- row -->
					<div class="row">
                    {% for vehicle in vehicles %}

                        {% if c_type == 0 %}
                            <div class="col-md-4 col-sm-6 col-xs-6">
                            {% elif c_type == 1 %}
                                {% if vehicle == last %}
                                    <div class="col-md-12 col-sm-6 col-xs-6">
                                {% else %}
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                {% endif %}
                            {% else %}
                                {% if vehicle == secondlast or vehicle == last %}
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                {% else %}
                                     <div class="col-md-4 col-sm-6 col-xs-6">
                                {% endif %}
                        {% endif %}

                            <div class="vehicle">
								<a href="vehicle/?v={{ vehicle.id }}" class="vehicle-img">
									<img src="/media/{{ vehicle.image }}" alt="">
									<i class="vehicle-link-icon fa fa-link"></i>
								</a>
								<a class="vehicle-title" href="#">{{ vehicle.model }}</a>
								<div class="vehicle-details">
                                    <a href="vehicle/?v={{ vehicle.id }}"><span class="vehicle-price vehicle-free">{% trans "More Info" %}</span></a>
								</div>
							</div>
						</div>
						<!-- /vehicle -->

                    {% endfor %}

                        <div class="pagination">
                            <span class="step-links">
                                {% if vehicles.has_previous %}
                                    <a href="?page=1">&laquo; {% trans "first" %}</a>
                                    <a href="?page={{ vehicles.previous_page_number }}">{% trans "previous" %}</a>
                                {% endif %}

                                <span class="current">
                                    {% trans "Page" %} {{ vehicles.number }} {% trans "of" %} {{ vehicles.paginator.num_pages }}.
                                </span>

                                {% if vehicles.has_next %}
                                    <a href="?page={{ vehicles.next_page_number }}">{% trans "next" %}</a>
                                    <a href="?page={{ vehicles.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
                                {% endif %}
                            </span>
                        </div>



					</div>
					<!-- /row -->

				</div>

				</div>
				<!-- /vehicles -->
            {% endif %}
			</div>


			<!-- container -->

		</div>
		<!-- /Vehicles -->

{% endblock %}

