{% extends "frames/base_portal.html" %}
{% load static %}

{% block header %}
	{% with headerclass='portal' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}


{% block content %}
<!-- Home -->
<div id="home" class="hero-area">

			<!-- Backgound -->
			<div style="background-color: white;"></div>
			<!-- /Backgound -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
					<div class="section-intro text-center">
						{% if user.is_authenticated %}
							<h2>Order Form</h2>
							<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
							<div class="row">
								<form method="POST" class="dealerloginform" autocomplete="off">
									{% csrf_token %}
									{{form.as_p}}
									<button class="main-button icon-button form-button" type="submit">Order</button>
								</form>
							</div>
						{% endif %} 
					</div>
				</div>
				</div>
			</div>

		</div>
		<!-- /Home -->
{% endblock %}