{% extends "frames/base_portal.html" %}
{% load static %}
{% block header %}
	{% with headerclass='portal' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}
{% block content %}
<!-- Home -->
<div id="home" class="hero-area">

			<!-- Backgound -->
			<div style="background-color: white;"></div>
			<!-- /Backgound -->

			<div class="home-wrapper" style="-webkit-transform: initial; position: relative; top: initial;">
				<div class="container">
					<div class="row">
					<div class="section-intro text-center">
						{% if user.is_authenticated %}
							{% if user.is_staff %}
								<h2>Register Dealer</h2>
								<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
								<div class="row">
									{{ form.non_field_errors }}
									<form method="POST" class="registerform" autocomplete="off">
										{% csrf_token %}
										{{ form.as_p }}
										<button class="main-button icon-button form-button" type="submit">Register</button>
									</form>
								</div>
							{% endif %}
						{% endif %} 
					</div>
				</div>
				</div>
			</div>

		</div>
		<!-- /Home -->
{% endblock %}