{% extends "frames/base_portal.html" %}
{% load static %}

{% block header %}
	{% with headerclass='portal' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}


{% block content %}
<!-- Home -->
<div id="home" class="hero-area">

			<!-- Backgound -->
			<div style="background-color: white;"></div>
			<!-- /Backgound -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
					<div class="section-intro text-center">
						{% if user.is_authenticated %}
                            {% if user.is_staff %}
							<h2>Upload Vehicle</h2>
							<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
							<div class="row">
								  <form method="post" enctype="multipart/form-data" id="uploadform">
                                    {% csrf_token %}
                                      {{ form.as_p }}
                                       <label class="custom-file-upload" for="id_image">
                                        <i class="fas fa-upload"></i>Choose Image
{#                                        <input id="files" style="visibility:hidden;" type="file">#}
                                    </label>
{##}
{#                                    <p id="receivedfile" style="display: none;"></p>#}
{#                                      <input id="id_image" type="file" name="image">#}
                                      <button id="uploadbutton"  class="main-button icon-button form-button" type="submit">Upload</button>
                                  </form>

{#                            <input type="file" id="files" name="myfile" accept="image/png, image/jpeg" form="uploadform">#}
{#                                    {% if uploaded_file_url %}#}
{#                                        <p id="formposted">File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>#}
{#                                    {% endif %}#}
							</div>
                            {% endif %}
						{% endif %}
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{#                    <script>#}
{#                        $("#id_image").css('visibility',  'hidden')#}
{#                    </script>#}
{#                    <script>#}
{#                        $("#files").change(function() {#}
{#                            filename = this.files[0].name#}
{#                            console.log(filename);#}
{#                            hidden = document.getElementById('receivedfile')#}
{#                            hidden.innerHTML = filename;#}
{#                            hidden.style.display = 'block';#}
{#                            $("#uploadbutton").css('visibility',  'visible')#}
{#                        });</script>#}
					</div>
				</div>
				</div>
			</div>

		</div>
		<!-- /Home -->
{% endblock %}