{% extends "frames/sub_base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
    <script src="{% static 'js/zoom/jquery.elevateZoom-3.0.8.min.js' %}"></script>
	{% with headerclass='portal' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}

{% block content %}
		<!-- Home -->
		<div id="news" class="section">

			<!-- Backgound Image -->
			<div style="background-color: white;"></div>
			
			<!-- /Backgound Image -->

				<div class="container">
					<div class="row">

					<div class="col-md-6">
						<h3>Shelby E-bikes</h3>
						<p class="lead"></p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
                        <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.</p>
					</div>

					<div class="col-md-5 col-md-offset-1">
						<div class="vehicle">
							<a href="#" class="vehicle-img">
								<img id="vehicleimg" src="/static/img/ebike.jpeg" data-zoom-image="/static/img/ebike.jpeg" alt="">
							</a>
							<div class="vehicle-details">
								<span class="vehicle-category">{{ model }}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6" style="margin-top: 10px">
					<button class="main-button main-button--lead icon-button" href="/shelby/shop" style="float: right;">Go to webshop</button>
				</div>
				<div class="row quoteform-wrapper">
					<div class="col-md-6 quoteform">
						<div id="er">
							<span id="sp"></span>
						</div>
						<form id="quoteform" method="POST">
							{% csrf_token %}
							<input type="hidden" name="vehicle" value="{{ model }}">
							{{ form }}
							<div class="flex flex--end">
								<button class="main-button .main-button--form icon-button" href="contact">Get quote &amp; delivery date</button>								
							</div>
						</form>
						<div id="suc" class="success--dark">
						</div>
					</div>
                </div>

			</div>
            <div class="ebikes-info">
				<div class="row greyrow flex">
					<div class="col-md-6 greyblock text-center">
						<div class="col-md-8 greyblock-text">
							<h2>Lorem ipsum</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
					</div>
					<div class="col-md-6 block-img"><img src="/static/img/ebike1.jpeg"></div>
				</div>
				<div class="row darkrow flex">
					<div class="col-md-6 block-img"><img src="/static/img/ebike2.jpeg"></div>
					<div class="col-md-6 darkblock text-center">
						<div class="col-md-8 darkblock-text">
							<h1>Lorem ipsum</h1>
							<div class="col-md-12 accordion-section">
								<center>
									
										<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingOne">
													<h4 class="panel-title">
														<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
															Section 1
														</a>
													</h4>
												</div>
												<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
													<div class="panel-body">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingTwo">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
															Section 2
														</a>
													</h4>
												</div>
												<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
													<div class="panel-body">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingThree">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
															Section 3
														</a>
													</h4>
												</div>
												<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
													<div class="panel-body">
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
													</div>
												</div>
											</div>
										</div>
				
								</center>
							</div>
						</div>
					</div>
				</div>
				<div class="row bottomrow">
					<div class="col-md-12 greyblock flex">
						<div class="col-md-8 greyblock-text" style="padding: 0;margin: 0;">
							<h1>Specifications</h1>        
							<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						    <div class="col-sm-5 col-md-5 col-md-offset-1">
								<table>
									<tbody>
										<tr>
											<th>Category</th>
											<td>EPAC - Supported Speed 25km/h</td>
										</tr>
										<tr>
											<th>Certification</th>
											<td>CE</td>
										</tr>
										<tr>
											<th>Colors</th>
											<td>Wimbledon White - PPG B376 / Guardsman Blue - PPG 12832</td>
										</tr>
										<tr>
											<th>Frame</th>
											<td>Advanced Injected Composites (AIC)</td>
										</tr>
										<tr>
											<th>Fork</th>
											<td>Carbon single leg MOTOR 250W - Torque 7ONm - Transmission Ratio 380% Fully automatic or manual gearshift.</td>
										</tr>
										<tr>
											<th>Battery</th>
											<td>14,5Ah - 610Wh - Li-ion cells Integrated in the frame, removable or direct plug-in</td>
										</tr>
										<tr>
											<th>Battery charger</th>
											<td>3,3A</td>
										</tr>
										<tr>
											<th>Display</th>
											<td>Display XT</td>
										</tr>
										<tr>
											<th>Control unit</th>
											<td>Shift control unit</td>
										</tr>
										<tr>
											<th>Wheel set</th>
											<td>Rim - Monoblock - Advanced Injected Composites (AIC) Tire - size 275 x 2.0"</td>
										</tr>
										<tr>
											<th>Drive</th>
											<td>Carbon Belt</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-5">
								<table>
									<tbody>
										<tr>
											<th>Front light</th>
											<td>10 Automotive LEDs - High beam 12501m, 3201x / Low beam 6001m, 180Ix</td>
										</tr>
										<tr>
											<th>Rear light</th>
											<td>5mm red high-power LEDs / 12V - 0,4W / 0,9W brake light </td>
										</tr>
										<tr>
											<th>Brakes</th>
											<td>Disc 2I180/160mm</td>
										</tr>
										<tr>
											<th>Connectivity</th>
											<td>iOS or Android app, GPS navigation, fitness & weather data</td>
										</tr>
										<tr>
											<th>Geolocation</th>
											<td>GPS Tracker + app, locate, live tracking, movement alarm (check perimeter)</td>
										</tr>
										<tr>
											<th>USB</th>
											<td>USB port</td>
										</tr>
										<tr>
											<th>Rack</th>
											<td>custom col. Black</td>
										</tr>
										<tr>
											<th>Weight</th>
											<td>Approx. 27Kg</td>
										</tr>
										<tr>
											<th>Saddle</th>
											<td>Brooks - Cambium C17 All Weather, Black</td>
										</tr>
										<tr>
											<th>Grips</th>
											<td>Brooks - Cambium Comfort Grips, Black</td>
										</tr>
										<tr>
											<th>Pedals</th>
											<td>Cranckbrothers - Stamp, Alu Black</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
                        
				</div>
			</div>
		<!-- /Home -->
		<script type="text/javascript" src="{% static 'js/post.js' %}"></script>

        <script>
            $("#vehicleimg").elevateZoom({
              zoomType: "inner",
              cursor: "crosshair"
            });
        </script>

{% endblock %}
