{% extends "frames/sub_base.html" %}
{% load static %}

{% block header %}
	{% with headerclass='portal' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}

{% block headoptions %}
    <link rel="stylesheet" href="{% static 'css/calendar/theme3.css' %}">
    <script src="{% static 'js/calendar/caleandar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calendar/initialize.js' %}"></script>
{% endblock %}

{% block content %}
		<!-- News -->
		<div id="event" class="section text-center">
            <h2>Event Calendar</h2>
            <p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
                    <div class="col-md-12">
                        <div id="caleandar">
                        </div>
                    </div>
				</div>
				<!-- /row -->

                <!-- row -->
                <div class="row">
                        <div id="cal">
                        </div>
                    </div>
                <!-- /row -->

			</div>
			<!-- /container -->
        <script>
            $.getJSON("/api/shelby/events/", saveJSON);

            function append(title, description, link){
                var htm = "<p class='title'>Event:</p><p>" + title +"</p>";
                htm += "<p>" + description + "</p>"

                if (link != '') {
                    htm += "<a href='" + link + "'>More about this event</a>";
                }
                $('#cal').css("background-color", "#374050");
                $('#cal').html(htm);
                $(window).scrollTo(document.getElementById('cal'), 1000);
            }
        </script>
		</div>
		<!-- /News -->
{% endblock %}