{% extends "frames/sub_base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
	{% with headerclass='portal' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}

{% block headoptions %}
    <link rel="stylesheet" href="{% static 'css/gallery/portfolio.jquery.min.css' %}">
    <script type="text/javascript" src="{% static 'js/gallery/portfolio.jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/responsiveslides.min.css' %}">
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
    function initSlides(){
        $("#slider2").responsiveSlides({
                auto: false,
                pager: true,
                speed: 300,
                maxwidth: 540
        });
    }

    </script>
{% endblock %}

{% block content %}
        <script>
            $(document).ready(function() {
                $('.thumbs').portfolio({
                    cols: 4,
                    transition: 'slideDown'
                });
            });
        </script>
		<!-- News -->
		<div id="event" class="section text-center">
            <h2>{% trans 'Press & media' %}</h2>
            <p class="lead">{% trans 'An insight of Shelby in the press and media' %}</p>
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

                    <div class="col-md-12">

{#                        <div id="#MyPortfolio">#}
                                    <ul class="thumbs">

            <li><a href="#thumb1" class="thumbnail" style="background-image: url('/media/press/traume1.jpg')">
                <h4>{% trans 'German Magazine' %} “TräumeWagen”</h4><span class="description">{% trans 'Interview German Magazine' %} “TräumeWagen”</span></a>
            </li>
            <li>
                <a href="#thumb2" class="thumbnail" style="background-image: url('/media/press/tuner1.jpg')"><h4>{% trans 'Magazine' %} “Eurotuner”</h4><span class="description">“The Muscle Truck” </span></a>
            </li>
            <li>
                <a href="#thumb3" class="thumbnail" style="background-image: url('/media/press/back1.jpg')"><h4>{% trans 'Magazine' %} “Chrom & Flammen”</h4><span class="description">“Back to the Future”</span></a>
            </li>
            <li>
                <a href="#thumb4" class="thumbnail" style="background-image: url('/media/press/baja1.jpg')"><h4>{% trans 'Magazine' %} “Cars & Stripes”</h4><span class="description">“Baja Badass by Shelby”</span></a>
            </li>
            <li>
                <a href="#thumb5" class="thumbnail" style="background-image: url('/media/press/grip1.jpg')"><h4>{% trans 'German Magazine' %} “GRIP”</h4><span class="description">“Shelby ist Startklar!”</span></a>
            </li>
            <li>
                <a href="#thumb6" class="thumbnail" style="background-image: url('/media/press/tr1.jpg')"><h4>{% trans 'Magazine' %} “Traume Wagen”</h4><span class="description">55 years of Shelby Special</span></a>
            </li>
            <li>
                <a href="#thumb7" class="thumbnail" style="background-image: url('/media/press/sback1.jpeg')"><h4>{% trans 'Magazine' %} “Cars & Stripes”</h4><span class="description">Super Snake is Back</span></a>
            </li>
            <li>
                <a href="#thumb8" class="thumbnail" style="background-image: url('/media/press/gripback1.jpg')"><h4>{% trans 'German Magazine' %} “GRIP”</h4><span class="description">“Shelby is back in Europe”</span></a>
            </li>
        </ul>

        <div class="portfolio-content">

            <div id="thumb1">
                <div class="media">
                     <ul class="rslides" id="slider2">
                          <li><a href="#"><img src="/media/press/traume1.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/traume2.jpg" alt=""></a></li>
                    </ul>
                </div>
                <h2>{% trans 'German Magazine' %} “TräumeWagen”</h2>
                <p>{% trans 'Here is a preview of published content in the magazine' %} 'TräumeWagen'</p>
            </div>

            <div id="thumb2">
                <div class="media">
                     <ul class="rslides" id="slider2">
                          <li><a href="#"><img src="/media/press/tuner1.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/tuner2.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/tuner3.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/tuner4.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/tuner5.jpg" alt=""></a></li>
                    </ul>
                </div>

                <h2>{% trans 'Magazine' %} “Eurotuner”</h2>
                <p>{% trans 'Here is a preview of published content in the magazine' %} “Eurotuner”</p>
{#                <a href="#" class="btn btn-primary">{% trans 'Checkout' %}</a>#}
            </div>

            <div id="thumb3">
                <div class="media">
                     <ul class="rslides" id="slider2">
                          <li><a href="#"><img src="/media/press/back1.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/back2.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/back3.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/back4.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/back5.jpg" alt=""></a></li>
                    </ul>
                </div>
                <h2>{% trans 'Magazine' %} “Chrom & Flammen”</h2>
                <p>{% trans 'Here is a preview of published content in the magazine' %} “Chrom & Flammen”</p>
{#                <a href="#" class="btn btn-primary">{% trans 'Checkout' %}</a>#}
            </div>

            <div id="thumb4">
                <div class="media">
                     <ul class="rslides" id="slider2">
                          <li><a href="#"><img src="/media/press/baja1.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/baja2.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/baja3.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/baja4.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/baja5.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/baja6.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/baja7.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/baja8.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/baja9.jpg" alt=""></a></li>
                    </ul>
                </div>
                <h2>{% trans 'Magazine' %} “Car & Stripes”</h2>
                <p>{% trans 'Here is a preview of published content in the magazine' %} “Car & Stripes”</p>
{#                <a href="#" class="btn btn-primary">{% trans 'Checkout' %}</a>#}
            </div>

            <div id="thumb5">
                <div class="media">
                     <ul class="rslides" id="slider2">
                          <li><a href="#"><img src="/media/press/grip1.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/grip2.jpg" alt=""></a></li>
                    </ul>
                </div>
                <h2>{% trans 'German Magazine' %} "Grip"</h2>
                <p>{% trans 'Here is a preview of published content in the magazine' %} "Grip"</p>
{#                <a href="#" class="btn btn-primary">{% trans 'Checkout' %}</a>#}
            </div>

            <div id="thumb5">
{#                <div class="media"><img src="images/media.jpg"/></div>#}
                <div class="media">
                     <ul class="rslides" id="slider2">
                          <li><a href="#"><img src="/media/press/sback1.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/sback2.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/sback3.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/sback4.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/sback5.jpeg" alt=""></a></li>
                    </ul>
                </div>
                <h2>{% trans 'Magazine' %} “Eurotuner”</h2>
                <p>{% trans 'Here is a preview of published content in the magazine' %} “Eurotuner”</p>
{#                <a href="#" class="btn btn-primary">{% trans 'Checkout' %}</a>#}
            </div>

            <div id="thumb5">
{#                <div class="media"><img src="images/media.jpg"/></div>#}
                <div class="media">
                     <ul class="rslides" id="slider2">
                          <li><a href="#"><img src="/media/press/grip1.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/grip2.jpg" alt=""></a></li>
                    </ul>
                </div>
                <h2>{% trans 'Magazine' %} “Car & Stripes”</h2>
                <p>{% trans 'Here is a preview of published content in the magazine' %} “Car & Stripes”</p>
{#                <a href="#" class="btn btn-primary">{% trans 'Checkout' %}</a>#}
            </div>

            <div id="thumb5">
{#                <div class="media"><img src="images/media.jpg"/></div>#}
                <div class="media">
                     <ul class="rslides" id="slider2">
                          <li><a href="#"><img src="/media/press/sback1.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/traume2.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/traume2.jpg" alt=""></a></li>
                    </ul>
                </div>
                <h2>{% trans 'German Magazine' %} “GRIP”</h2>
                <p>{% trans 'Here is a preview of published content in the magazine' %} “GRIP”</p>
{#                <a href="#" class="btn btn-primary">{% trans 'Checkout' %}</a>#}
            </div>

            <div id="thumb6">
{#                <div class="media"><img src="images/media.jpg"/></div>#}
                <div class="media">
                     <ul class="rslides" id="slider2">
                          <li><a href="#"><img src="/media/press/tr1.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/tr2.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/tr3.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/tr4.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/tr5.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/tr6.jpeg" alt=""></a></li>
                    </ul>
                </div>
                <h2>{% trans 'Magazine' %} “Traume Wagen”</h2>
                <p>{% trans 'Here is a preview of published content in the magazine' %} Traume Wagen</p>
{#                <a href="#" class="btn btn-primary">{% trans 'Checkout' %}</a>#}
            </div>

            <div id="thumb7">
{#                <div class="media"><img src="images/media.jpg"/></div>#}
                <div class="media">
                     <ul class="rslides" id="slider2">
                          <li><a href="#"><img src="/media/press/sback1.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/sback2.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/sback3.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/sback4.jpeg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/sback5.jpeg" alt=""></a></li>
                    </ul>
                </div>
                <h2>{% trans 'Super Snake is back in the German Magazine' %} “Cars & Stripes”</h2>
                <p>{% trans 'Here is a preview of published content in the magazine' %} “Cars & Stripes”</p>
{#                <a href="#" class="btn btn-primary">{% trans 'Checkout' %}</a>#}
            </div>

            <div id="thumb8">
{#                <div class="media"><img src="images/media.jpg"/></div>#}
                <div class="media">
                     <ul class="rslides" id="slider2">
                          <li><a href="#"><img src="/media/press/gripback1.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/gripback2.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/gripback3.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/gripback4.jpg" alt=""></a></li>
                          <li><a href="#"><img src="/media/press/gripback5.jpg" alt=""></a></li>
                    </ul>
                </div>
                <h2>{% trans 'German Magazine' %} “GRIP”</h2>
                <p>{% trans 'Here is a preview of published content in the magazine' %} “GRIP”</p>
{#                <a href="#" class="btn btn-primary">{% trans 'Checkout' %}</a>#}
            </div>
        </div>

                    </div>
				</div>
				<!-- /row -->

			</div>
			<!-- /container -->
		</div>
		<!-- /News -->
{% endblock %}