{% extends "frames/sub_base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
    <script src="{% static 'js/zoom/jquery.elevateZoom-3.0.8.min.js' %}"></script>
	{% with headerclass='portal' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}


{% block content %}

		<!-- Home -->
		<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div style="background-color: white;"></div>
			
			<!-- /Backgound Image -->

			<div class="home-wrapper" style="top: 60%;">
				<div class="container">
                    {% if exists %}
					<div class="row">

					<div class="col-md-6">
						<h3>About {{ model }}</h3>
						<p class="lead">{{ headline }}</p>
						<p>{{ desc }}</p>
					</div>

					<div class="col-md-5 col-md-offset-1">
						<div class="vehicle">
								<a href="#" class="vehicle-img">
									<img id="vehicleimg" src="/media/{{ image }}" data-zoom-image="/media/{{ image }}" alt="">
								</a>
								<a class="vehicle-title" href="#">{{ model }}</a>
								<div class="vehicle-details">
									<span class="vehicle-category">Price</span>
									<span class="vehicle-price vehicle-free"><a class="main-button icon-button" href="#">More</a></span>
								</div>
							</div>
					</div>

				</div>
                {% else %}
                        <h1>No vehicle has been found.</h1>
                {% endif %}
				</div>
			</div>

		</div>

		<!-- /Home -->

        <script>
            $("#vehicleimg").elevateZoom({
              zoomType: "inner",
              cursor: "crosshair"
            });
        </script>

{% endblock %}
