{% extends "frames/base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
	{% with headerclass='transparent-nav' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}

{% block content %}
<!-- Home -->
<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(https://pictures.topspeed.com/IMG/jpg/201701/shelby-super-snake-5-4.jpg)"></div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
					<div class="section-intro section-intro-mobile text-center col-sm-12">
						<h2>{% trans 'Welcome to GU Auto Trade' %}</h2>
						<p class="lead">{% trans 'What would you like to check out?' %}</p>
                <div class="row">


					<div class="col-md-2 col-sm-6 col-xs-6">
						<div class="vehicle shelbylogo">
							<a href="/shelby" class="vehicle-img" style="border: 0; box-shadow: none;">
								{% include 'includes/logo.svg' %}
							</a>
							<a class="vehicle-title" href="/shelby" >Shelby Supercars</a>
						</div>
					</div>


					<div class="col-md-2 col-sm-6 col-xs-6">
						<div class="vehicle shelbylogo">
							<a href="#" class="vehicle-img" style="border: 0; box-shadow: none;">
								{% include 'includes/ebikes.svg' %}
							</a>
							<a class="vehicle-title" href="#" style="font-size: 14px;">Shelby E-Bikes</a>
						</div>
					</div>

					<div class="col-md-2 col-sm-6 col-xs-6">
						<div class="vehicle shelbylogo">
							<a href="#" class="vehicle-img" style="border: 0; box-shadow: none;">
								{% include 'includes/shelby_electronics.svg' %}
							</a>
							<a class="vehicle-title" href="#" style="font-size: 14px;">Shelby Electronics</a>
						</div>
					</div>

					<div class="col-md-2 col-sm-6 col-xs-6">
						<div class="vehicle shelbylogo">
							<a href="/shelby/shop" class="vehicle-img" style="border: 0; box-shadow: none;">
								{% include 'includes/shelby_merchandise.svg' %}
							</a>
							<a class="vehicle-title" href="/shelby/shop" style="font-size: 14px;">Shelby Merchandise</a>
						</div>
					</div>

					<div class="col-md-2 col-sm-6 col-xs-6">
						<div class="vehicle">
							<a href="#" class="vehicle-img" style="border: 0; box-shadow: none;">
								{% include 'includes/harley.svg' %}
							</a>
							<a class="vehicle-title" href="#" style="font-size: 14px;">Harley Davidson Trucks</a>
						</div>
					</div>

					<div class="col-md-2 col-sm-6 col-xs-6">
						<div class="vehicle">
							<a href="/tuscany" class="vehicle-img" style="border: 0; box-shadow: none;">
								{% include 'includes/Tuscany_Logo.svg' %}
							</a>
							<div class="col-md-8 tagline"><a class="vehicletags">Black Ops</a></div>
							<div class="col-md-4 tagline"><a class="vehicletags">FTX</a></div>
							
						</div>
					</div>

					</div>
                       
					</div>
				</div>
<div class="row"><div class="alternative" style="text-align: center; padding: 10px;"><a href="/gu"><p style="color: white; text-decoration: underline;">{% trans 'Or continue to GU Auto Trade' %}</p></a></div></div>
    
				</div>
			</div>

		</div>
		<!-- /Home -->
{% endblock %}