{% extends "frames/base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
	{% with headerclass='transparent-nav' %}
			{{ block.super }}
	{% endwith%}
{% endblock header%}

{% block content %}
<!-- Home -->
<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(https://pictures.topspeed.com/IMG/jpg/201701/shelby-super-snake-5-4.jpg)"></div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
					<div class="section-intro text-center col-sm-8">
						<h2>{% trans 'Make a choice' %}</h2>
						<p class="lead">{% trans 'Make a selection between Tuscany and Shelby' %}</p>
                <div class="row">

						<!-- vehicle -->
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="vehicle">
								<a href="/tuscany" class="vehicle-img" style="border: 0; box-shadow: none;">
{#									<img alt="" src="{% static 'img/Tuscany_Logo.png' %}" style="width: 35vh; height: 96px;">#}
                                    {% include 'includes/Tuscany_Logo.svg' %}
								</a>
								<a class="vehicle-title" href="/tuscany">Tuscany</a>
								
							</div>
						</div>
						

						
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="vehicle">
								<a href="/shelby" class="vehicle-img" style="border: 0; box-shadow: none;">
{#									<img alt="" src="http://www.guautotrade.com/mtw-themes/GU/images/shelbylogocircle2.png?crc=512746376" style="width: 10vh; height: 96px;">#}
                                    {% include 'includes/logo.svg' %}
								</a>
								<a class="vehicle-title" href="/shelby" >Shelby</a>
                </div>
                            
						</div>

					</div>
                       
					</div>
				</div>
<div class="row"><div class="alternative" style="text-align: center; padding: 10px;"><a href="/gu"><p style="color: white; text-decoration: underline;">{% trans 'Or continue to GU Auto Trade' %}</p></a></div></div>
    
				</div>
			</div>

		</div>
		<!-- /Home -->
{% endblock %}