{% extends "frames/base.html" %}
{% load static %}
{% block content %}
<!-- Home -->
<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(https://pictures.topspeed.com/IMG/jpg/201701/shelby-super-snake-5-4.jpg)"></div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
					<div class="section-intro text-center">
						{% if user.is_authenticated %}
							<h2>Order Form</h2>
							<p class="lead">Your order has been successfully placed.</p>
							<div class="row">
								{{ form.errors }}
								{{ form.non_field_errors }}
								<p>Model: {{ model }}</p>
								<p>Colour: {{ colour }}</p>
							</div>
							<div class="row">
								<a class="main-button icon-button" href="/dealerlogin">Back to portal</a>
							</div>
						{% endif %} 
					</div>
				</div>
				</div>
			</div>

		</div>
		<!-- /Home -->
{% endblock %}